
<div>
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Novi registar:</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<table class="table">
			<tr>
				<td>Datum otvaranja</td>
				<td><p class="input-group">
						<input type="text" class="form-control"
							uib-datepicker-popup="{{format}}" ng-model="datumOtvaranja"
							is-open="popup1.opened" datepicker-options="dateOptions"
							ng-required="true" close-text="Close"
							alt-input-formats="altInputFormats" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p></td>
			</tr>
		</table>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="save()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>