<div>
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Ocena rezultata aktivnosti:</h3>
	</div>
	<div class="modal-body" id="modal-body"  >
		<table class="table">
			<tr>
				<td>Ocena efekta</td>
				<td><form class="form-group" ng-disabled="readonly">
						<div class="radio">
							<label for="p"> <input id="p" type="radio" ng-disabled="readonly"
								ng-model="a.ocenaEfekta" value="UPOTPUNOSTI">
								Ciljevi ostvareni u potpunosti
							</label><br />
						</div>
						<div class="radio">
							<label for="k"> <input id="k" type="radio" ng-disabled="readonly"
								ng-model="a.ocenaEfekta" value="NEOSTVARENI">
								Ciljevi nisu ostvareni
							</label><br />
						</div>
						<div class="radio">
							<label for="r"> <input id="r" type="radio" ng-disabled="readonly"
								ng-model="a.ocenaEfekta" value="DELIMICNI">
								Ciljevi delimično ostvareni
							</label><br />
						</div>
						
					</form></td>
			</tr>
			<tr ng-show=" a.ocenaEfekta === 'DELIMICNI'">
				<td>Procenat ostvarenosti (%)</td>
				<td><input type="number" class="form-control" ng-disabled="readonly"
					ng-model="a.procenatOstvarenosti">
			</tr>
			<tr>
				<td>Datum realizacije</td>
				<td><p class="input-group">
						<input type="text" class="form-control" ng-disabled="readonly"
							uib-datepicker-popup="{{format}}" ng-model="a.datumRealizacije"
							is-open="popup1.opened" datepicker-options="dateOptions"
							ng-required="true" close-text="Close"
							alt-input-formats="altInputFormats" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p></td>
			</tr>
		</table>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="save()" ng-show="!readonly">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>