html {
    height: 100%;
}

body {
    background-color: #E9E9E9;
    height: 100%;
}

iframe {
    border: 0;
}

#Content {
    background-color: #FFFFFF;
}

#Register, #Login {
    width: 500px;
    margin: 50px auto 75px auto;
    background-color: #F7F7F7;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px #AFAFAF;
}

#RegisterButton, #LoginButton, #BackButton {
    width: 370px;
}

@media (min-height: 500px) {
    .editor {
        height: 400px;
    }
}

@media (min-height: 600px) {
    .editor {
        height: 500px;
    }
}

@media (min-height: 700px) {
    .editor {
        height: 600px;
    }
}

@media (min-height: 800px) {
    .editor {
        height: 700px;
    }
}

@media (min-height: 900px) {
    .editor {
        height: 800px;
    }
}

@media (min-height: 1000px) {
    .editor {
        height: 900px;
    }
}