<div class="pl-50 pr-50 pb-50 pt-5">
	<div class="mt-50">
		<h1>Pregled preventivnih/korektivnih aktivnosti</h1>
		<h4>Pregled svih preventivnih/korektivnih aktivnosti</h4>
		<button class="btn btn-info" ng-click="createNew(null, false)" ng-if="display == 'RUK_TIMA'">Dodaj
			aktivnost</button>
		<table class="table table-bordered table-striped table-hover"
			ng-if="data.length">
			<tr>
				<th class="text-center">Broj P/K mere</th>
				<th class="text-center">Nosilac aktivnosti</th>
				<th class="text-center">Opis zahtevane aktivnosti</th>
				<!--                 <th class="text-center">Cilj aktivnosti</th> -->
				<!--                 <th class="text-center">Ocekivani efekti</th> -->
				<!--                 <th class="text-center">Napomena</th> -->
				<th class="text-center">Rukovodilac tima</th>
				<th class="text-center">Datum potpisa</th>
				<th>Ocena</th>
				<th>Verifikacija</th>
				<th></th>
				<th ng-if="display == 'RUK_TIMA'"></th>
				<th ng-if="display == 'RUK_TIMA'"></th>
				
			</tr>
			<tr ng-repeat="a in data">
				<td>{{ a.brojMere }}</td>
				<td>{{ a.nosilacAktivnosti }}</td>
				<td>{{ a.opis }}</td>
				<!--                 <td>{{ a.cilj }}</td> -->
				<!--                 <td>{{ a.ocekivaniEfekti }}</td> -->
				<!--                 <td>{{ a.napomena }}</td> -->
				<td>{{ a.rukovodilacTima }}</td>
				<td>{{ printDate(a.datumPotpisa) }}</td>
				<td ng-if="display == 'RUK_OJ'"><button class="btn btn-info"
						ng-click="enterResults(a, a.ocenaEfekta != null)">{{
						a.ocenaEfekta ? 'Prikaz rezultata' : 'Unos rezultata'}}</button></td>
				<td ng-if="display == 'RUK_TIMA' || display == 'RUK_KVALITET'"><button class="btn btn-info" ng-disabled = "!a.ocenaEfekta"
						ng-click="enterResults(a, a.ocenaEfekta != null)">
						Prikaz rezultata</button></td>
				<td ng-if="display == 'RUK_TIMA'"><button class="btn btn-info" ng-disabled = "!a.ocenaEfekta"
						ng-click="verify(a, a.obimRealizacije != null)">{{
						a.obimRealizacije ? 'Prikaz verifikacije' : 'Verifikuj'}}</button></td>
				<td ng-if="display == 'RUK_OJ' || display == 'RUK_KVALITET'"><button class="btn btn-info" ng-disabled = "!a.obimRealizacije"
						ng-click="verify(a, a.obimRealizacije != null)">
						Prikaz verifikacije</button></td>
				<td><button class="btn btn-default"
						ng-click="createNew(a, true)">Prikaz</button></td>
				<td ng-if="display == 'RUK_TIMA'"><button class="btn btn-warning"
						ng-click="createNew(a, false)"">Izmeni</button></td>
				<td ng-if="display == 'RUK_TIMA'"><button class="btn btn-danger" ng-click="delete(a)">Ukloni</button></td>
				
			</tr>
		</table>
<!-- 		<div ng-if="!data.length"> -->
<!-- 			<div class="alert alert-warning" role="alert"> -->
<!-- 				<b>Registar je prazan!</b> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>

</div>